{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <header class="navbar-fixed">
        <div class="nav-wrapper">
            <nav>
                <ul class="primary-nav">
                    <li><a href="#">Django<span>Survey</span></a></li>
                    <li><a href="{% url 'create' %}">Create Survey</a></li>
                    <li><a href="#">Your Surveys</a></li>
                </ul>

                <ul class="login-nav">
                    <li><a href="{% url 'login' %}">Log In</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div>Footer</div>
    </footer>
</body>

</html>