{% extends 'base.html'%}
{% block content %}
<h3 class="surveyname">{{ survey.name }}</h3>
<form action="{% url 'survey_vote' survey.id %}" method="POST">
    {% csrf_token %}
    {% for question in questions %}
    <div class="card" id="questiontext">
    <label class="questiontext">{{ question.question_text }}</label>
        <p>
            <label>
                <input type="radio" name="{{ question.id }}" value="option_one" checked/>
                <span>{{ question.option_one }}</span>
            </label>
        </p>
        <p>
            <label>
                <input type="radio" name="{{ question.id }}" value="option_two"/>
                <span>{{ question.option_two }}</span>
            </label>
        </p>
        <p>
            <label>
                <input type="radio" name="{{ question.id }}" value="option_three"/>
                <span>{{ question.option_three }}</span>
            </label>
        </p>
    </div>
        {% endfor %}
        <input type="submit" value="Vote!" class="btn">
    </form>
    
{% endblock %}


