{% extends 'base.html'%}
{% block content %}

<form action="{% url 'survey_vote' survey.id %}" method="POST">
    {% csrf_token %}
    {% for question in questions %}
        <label>{{ question.question_text }}</label>
        <p>
        <label>
            <input type="radio" name="{{ question.id }}" value="option_one" checked/>
            <span>{{ question.option_one }}</span>
        </label>
        </p>
        <p>
            <label>
                <input type="radio" name="{{ question.id }}" value="option_two"/>
                <span>{{ question.option_two }}</span>
            </label>
        </p>
        <p>
            <label>
                <input type="radio" name="{{ question.id }}" value="option_three"/>
                <span>{{ question.option_three }}</span>
            </label>
        </p>
    {% endfor %}
    <input type="submit" value="Vote!" class="btn">
</form>

{% endblock %}


